<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.hof.sys.mapper.ShopDishDailyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lee.hof.sys.entity.ShopDishDaily">
        <id column="id" property="id" />
        <result column="shop_id" property="shopId" />
        <result column="user_id" property="userId" />
        <result column="dish_id" property="dishId" />
        <result column="date" property="date" />
        <result column="step_type" property="stepType" />
        <result column="file_name" property="fileName" />
        <result column="purchase_date" property="purchaseDate" />
        <result column="remark" property="remark" />
        <result column="usage_amount" property="usageAmount" />
    </resultMap>

</mapper>
